@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
} */

.icon {
  transition: transform 0.3s ease-in-out;
}
p:hover .icon {
  transform: translateX(2px) translateY(-2px); 
}

div:hover p .icon {
  transform: translateX(2px) translateY(-2px); 
}